@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.dashboard {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    background-color: #272727;
}

.dashboard-menu {
    width: 300px;
}

.icon {
    padding: 30px;
    padding-left: 40px;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon>img {
    width: 100%;
    height: 100%;
}

.dashboard-menu-links {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.dashboard-menu-links>div {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.dashboard-menu-links>div:hover, .dashboard-head-right>*:hover {
    cursor: pointer;
    color: #FF8D24;
}

.dashboard-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 20px;
}

.dashboard-head {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-head-left {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.dashboard-head-right {
    width: 200px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-head-right>div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard-head-right>div>img {
    width: 100%;
    height: 100%;
}

.dashboard-main-content {
    height: 50vh;
}

.dashboard-main-content {
    display: flex;
    align-items: stretch;
}

.dashboard-main-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.part-1 {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-1-subpart {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.part-1-subpart-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 141, 36, 0.45);
    border-radius: 50%;
}

.part-1-subpart-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 10px;
}

.part-1-subpart-right>span {
    font-size: 30px;
    font-weight: bold;
}

.part-2 {
    margin-top: 40px;
    height: 100%;
}

.dashboard-main-content-right {
    width: 500px;
    background-color: #151515;
    border-radius: 12px;
    color: white;
    padding: 16px;
}

.coming-soon {
    display: flex;
    height: 90%;
    margin-top: 30px;
}

.coming-soon-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.coming-soon-right {
    flex: 1;
}

.coming-soon-right>img {
    width: 100%;
    height: 100%;
}

.quick-actions {
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.quick-actions-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 210px;
    position: relative;
    height: 100%;
    background-color: #2D2D2D;
    border-radius: 13px;
    margin-right: 20px;
}

.quick-actions-box-icon {
    position: absolute;
    top: -12px;
    left: 86px;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 141, 36, 0.45);
    border-radius: 50%;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}